.pricingContainer
{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--pagePadding);
    background: url('/public/assets/Vector\ 3.png');
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}



.leftContent
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.details .boldMediumTexts
{
    line-height: 1;
}
.details .regularMediumTexts
{
    padding: 2rem 0 8rem;
    line-height: 1.5;
}

.checkBoxDivs
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.cardTop .itemDiv
{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.checkBoxDivs .check 
{
    width: 64px;
    height: 64px;
    background-color: var(--grayBg);
    border-radius: 0.5rem;
    margin-right: 0.85rem;
}

.pricingRightContent
{
    background:linear-gradient(var(--linearBgOne), var(--linearBgTwo));
    box-shadow: 0px 0px 20px 0.25px rgb(205, 205, 205);
    border-radius: 0.5rem;
}

.cardTop
{

    background:linear-gradient(to right ,rgb(255, 255, 255), rgba(255, 255, 255, 0.766)), url(/public/assets/AZ-logo.png);
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
    padding:1.75rem 2.5rem ;
}
.cardTop .lowBoldMediumtexts
{
    color: #818181;
    text-decoration: line-through;
    padding: 1rem 0;
}

.cardBottom 
{
    padding: 0 2.5rem;
    color: var(--whiteText);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;


}

.cardBottom .itemDiv
{
    margin: 2rem 0;
    display: flex;
    align-items: center;
}

.cardBottom .check 
{
    width: 64px;
    height: 64px;
    background-color: transparent;
    border: 1px solid var(--grayBg);
    border-radius: 0.5rem;
    color: var(--whiteText);
    margin-right: 0.5rem;
}
.cardBottom .regularMediumTexts
{

    flex-basis: 100%;

}

.cardBtn
{
    display: flex;
    width: 100%;
    margin: 1.5rem 0;
}
.cardBtn button 
{
    width: 100%;
    border-radius: 0.5rem;
}

@media screen  and (min-width:431px) and  (max-width:769px) {
    .pricingContainer 
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .checkBoxDivs .check
{
    width: 45px;
    height: 45px;
}
    .pricingRightContent
    {
        margin-top: 4rem;
        width: 380px;
    }
    .cardBottom
    {
        padding: 1rem 2rem;
    }
    .cardBottom .itemDiv
{
    margin: 0.85rem 0;



}
.cardBottom .check
{
    width: 30px;
    height: 30px;
}
    
}

@media screen  and (max-width:431px) {
    .pricingContainer 
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .details .regularMediumTexts
{
    padding: 2rem 0;
    line-height: 1.5;
}
    .checkBoxDivs .check
{
    width: 40px;
    height: 40px;

}
.checkBoxDivs .itemDiv .itemDetail
{
        flex-basis: 100%;
}
    .pricingRightContent
    {
        margin-top: 4rem;
        width: 380px;
    }
    .cardBottom
    {
        padding: 1rem 2rem;
    }
    .cardBottom .itemDiv
{
    margin: 0.85rem 0;



}
.cardBottom .check
{
    width: 30px;
    height: 30px;
}
.cardBottom .cardBtn button 
{
    border-radius: 0.25rem;
}
    
}