@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Rubik:wght@400;500;600;700;800&display=swap'); 


/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Rubik', sans-serif; */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --linearBgTwo:#05445E;
    --linearBgOne:#022534;
    /* padding */
    --pagePadding:12.5rem;
    /* text color */
    --grayText :#818181;
    --blackText: #000000;
    --whiteText:#FFFFFF;

    /* rectangular boxes */
    --grayBg:#D9D9D9;
    --gradientBorder: #cff1ff68;
}


/* Be better at DSA & CP */
.boldMainTexts
{
    font-size: 4.5rem;
  font-family: 'Rubik', sans-serif;
  font-weight:800;
}
/* Invest in skills,
earn 10X of what you paid. */
.boldMediumTexts
{
    font-size: 4rem;
    font-weight: 800;
  font-family: 'Rubik', sans-serif;
}

/* 1999 */
.lowBoldMediumtexts
{
    font-size: 3.5rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;

}

/* 1.2Cr/Year */

.boldSmallText
{
    font-size: 2rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}
/* highest fresher package */
.regularMediumTexts
{
    font-size: 1.5rem;
    font-family: 'DM Sans', sans-serif;
}

/* join now */
.miniTexts  
{
    font-family: 'DM Sans', sans-serif;
    font-size:1.375rem;
}
.gradientTexts
{
    background: -webkit-linear-gradient(var(--linearBgOne), var(--linearBgTwo));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.gradientBg 
{
    background: linear-gradient(var(--linearBgOne), var(--linearBgTwo));
}

button 
{
    border: none;
    outline: none;
    padding: 0.65rem 1.25rem;
}

/* responsive */


@media screen and (min-width:769px)  and (max-width:1441px) {
    :root 
    {
        --pagePadding:10vw;
    }
    /* Be better at DSA & CP */

.boldMainTexts
{
    font-size: 4rem;

}
/* Invest in skills,
earn 10X of what you paid. */
.boldMediumTexts
{
    font-size: 3.5rem;
    font-weight: 800;
  font-family: 'Rubik', sans-serif;
}

/* 1999 */
.lowBoldMediumtexts
{
    font-size: 2.5rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;

}

/* 1.2Cr/Year */

.boldSmallText
{
    font-size: 1.875rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}
/* highest fresher package */
.regularMediumTexts
{
    font-size:1.25rem;
    font-family: 'DM Sans', sans-serif;
}

/* join now */
.miniTexts  
{
    font-size:1rem;
}
}



/* tab */

@media screen and (min-width:431px)  and (max-width:769px) {
    :root 
    {
        --pagePadding:4rem;
    }
    /* Be better at DSA & CP */

.boldMainTexts
{
    font-size: 3rem;

}
/* Invest in skills,
earn 10X of what you paid. */
.boldMediumTexts
{
    font-size: 2.5rem;
    font-weight: 800;
  font-family: 'Rubik', sans-serif;
}

/* 1999 */
.lowBoldMediumtexts
{
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;

}

/* 1.2Cr/Year */

.boldSmallText
{
    font-size: 1.45rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}
/* highest fresher package */
.regularMediumTexts
{
    font-size:1rem;
    font-family: 'DM Sans', sans-serif;
}

/* join now */
.miniTexts  
{
    font-size:0.85rem;
}
}









/* mobile */

@media screen and (max-width:431px){
    :root 
    {
        --pagePadding:2.5rem;
    }
    /* Be better at DSA & CP */
.boldMainTexts
{
    font-size: 2rem;

}
/* Invest in skills,
earn 10X of what you paid. */
.boldMediumTexts
{
    font-size: 2rem;
    font-weight: 800;
  font-family: 'Rubik', sans-serif;
}

/* 1999 */
.lowBoldMediumtexts
{
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;

}

/* 1.2Cr/Year */

.boldSmallText
{
    font-size: 1.15rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}
/* highest fresher package */
.regularMediumTexts
{
    font-size:0.85rem;
    font-family: 'DM Sans', sans-serif;
}

/* join now */
.miniTexts  
{
    font-size:0.65rem;
}

}


